body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #1da1f2;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

html {
    background: #1da1f2;
}

.conntent {
    background: white;
    border-radius: 5px;
    padding-bottom: 25px;
}

.userDetails {
    padding-top:15px;
     margin:10px;

}

.b-white {
    background: white;
}

.margin-10 {
    margin:10px;
}

.user{
    border:solid 2px #1da1f2;
}